[Desktop Entry]
Name=Worklog Dashboard
Exec=/home/wizard/venv_worklog/bin/python "/home/wizard/ProjectVScode2025/worklog3/worklog3.py"
Icon=/home/wizard/ProjectProd/WorkLog/worklog.png
Type=Application
Terminal=false
Categories=Office;
